<div>

  <div class="row">
    <div class="col">
      <h5>Merchant</h5>
    </div>
  </div>

  <div class="row">
    <div class="col ">
      <div class="card shadow-sm rounded">
        <div class="card-body">

          <form [formGroup]="searchMerchantForm">
            <div class="row">
              <div class="col-auto mr-auto">
                <div class="form-group form-inline">
                  <input class="form-control" type="text" formControlName="q" />
                  <span class="ml-3" *ngIf="merchantPaginationSource.$loading | async">Loading...</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" [routerLink]="['edit']">New Merchant</button>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" sortable="merchantName" (sort)="onSort($event)">Merchant Name</th>
                      <th scope="col" sortable="maxAmount" (sort)="onSort($event)">Max Amount</th>
                      <th scope="col" sortable="minAmount" (sort)="onSort($event)">Min Amount</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let merchant of merchantPaginationSource.records | async">
                      <th scope="row">{{ merchant.id }}</th>
                      <td>
                        <ngb-highlight [result]="merchant.merchantName" [term]="searchMerchantForm.get('q').value">
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="merchant.maxAmount | number"
                          [term]="searchMerchantForm.get('q').value">
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="merchant.minAmount | number"
                          [term]="searchMerchantForm.get('q').value">
                        </ngb-highlight>
                      </td>
                      <td>
                        <button class="btn btn-light btn-sm" [routerLink]="['edit', merchant.id]"><i class="far fa-edit"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="row">

              <div class="col-auto mr-auto">

                <ngb-pagination [collectionSize]="merchantPaginationSource.$totalRecords | async"
                  [(page)]="merchantPaginationSource.currentPage" [pageSize]="merchantPaginationSource.itemsPerPage">
                </ngb-pagination>

              </div>

              <div class="col-auto">
                <select class="custom-select" style="width: auto" name="pageSize" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="merchantPaginationSource.itemsPerPage">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>

              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
