<div class="card ">
  <div class="card-body">

    <div>
      <div class="row">
        <div class="col-12">
          <label>Metadata</label>
        </div>
      </div>

      <div class="row" [formGroup]="metadataForm">
        <div class="form-group col">
          <label for="key">Key</label>
          <input type="text" class="form-control" id="key" placeholder="Key" formControlName="key">
        </div>
        <div class="form-group col">
          <label for="value">Value</label>
          <input type="text" class="form-control" id="value" placeholder="Value" formControlName="value">
        </div>
        <div class="form-group col-auto d-flex align-items-end">
          <button class="btn btn-secondary" (click)="addMetadata()"><i class="fas fa-plus"></i></button>
        </div>
      </div>

      <div class="row" *ngIf="getMetadataAsKeys().length > 0">
        <div class="col-12">

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="w-50">Key</th>
                <th scope="col" class="w-50">Value</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of getMetadataAsKeys()">
                <td scope="row">{{key}}</td>
                <td>{{metadataFormGroup.get(key)?.value}}</td>
                <td  align="center"><button class="btn btn-light btn-sm" (click)="removeMetadata(key)"><i class="fas fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
