<div>

  <form [formGroup]="merchantForm">

    <div class="row">
      <div class="form-group col-auto">

        <div class="row">
          <div class="col-12">
            <img *ngIf="!merchant?.merchantPicture" src="assets/images/picture.png" alt="" class="img-thumbnail">
            <img *ngIf="merchant?.merchantPicture" src="{{merchant.merchantPicture}}" alt="" class="img-thumbnail">
          </div>
        </div>

      </div>
      <div class="col">
        <div class="row">
          <div class="form-group col-4">
            <label for="type">Merchant Type</label>
            <select id="type" class="form-control" formControlName="typeFK">
              <option value="">Choose...</option>
              <option *ngFor="let merchantType of merchantTypeDataSource.records | async" [value]="merchantType.id">
                {{merchantType.merchantTypeName}}</option>
            </select>
          </div>

          <div class="form-group col-2">
            <label for="country">Country</label>
            <input class="form-control" id="country" placeholder="Country" formControlName="country">
          </div>

          <div class="form-group col-2">
            <label for="currency">Currency</label>
            <input class="form-control" id="currency" placeholder="Currency" formControlName="currency">
          </div>

          <div class="form-group col-2 offset-md-2 d-flex align-items-end">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="active" formControlName="active">
              <label class="form-check-label" for="active">Active</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="merchantName">Name</label>
            <input class="form-control" id="merchantName" placeholder="Name" formControlName="merchantName">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" placeholder="Website" formControlName="website">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12">
            <label for="defaultMessage">Default Message</label>
            <textarea type="text" class="form-control" id="defaultMessage" placeholder="Default Message"
              formControlName="defaultMessage"></textarea>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class=col-6>
        <div class="row">
          <div class="form-group col-6">
            <label for="shoppingOption">Shopping Option</label>
            <select id="shoppingOption" class="form-control" formControlName="shoppingOption">
              <option value="">Choose...</option>
              <option value="ONLINE">Online</option>
              <option value="STORE">Store</option>
              <option value="STORE_AND_ONLINE">Store and Online</option>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="partner">Partner</label>
            <select id="partner" class="form-control" formControlName="partnerFK">
              <option value="">Choose...</option>
              <option *ngFor="let merchantPartner of merchantPartnerDataSource.records | async"
                [value]="merchantPartner.id">
                {{merchantPartner.merchantPartnerName}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="minAmount">Min Amount</label>
            <input class="form-control" id="minAmount" placeholder="Min Amount" formControlName="minAmount">
          </div>
          <div class="col-6">
            <label for="maxAmount">Max Amount</label>
            <input class="form-control" id="maxAmount" placeholder="Max Amount" formControlName="maxAmount">
          </div>
        </div>
      </div>
      <div class=col-6>

        <div class="row">
          <div class="col">
            <gt-merchant-functionality-form [functionalitiesFormArray]="getFunctionalities()"
              [functionalities]="merchant?.functionalities">
            </gt-merchant-functionality-form>
          </div>

          <div class="col">
            <gt-merchant-denomination-form [merchantDenominationFormArray]="getMerchantDenominations()"
              [merchantDenominations]="merchant?.merchantDenominations"></gt-merchant-denomination-form>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="merchantDescription">Description</label>
        <textarea type="text" class="form-control" id="merchantDescription" placeholder="Description"
          formControlName="merchantDescription"></textarea>
      </div>
      <div class="form-group col-6">
        <label for="merchantNote">Note</label>
        <textarea type="text" class="form-control" id="merchantNote" placeholder="Note"
          formControlName="merchantNote"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <gt-merchant-metadata-form [metadataFormGroup]="getMetadata()" [metadata]="merchant?.metadata">
        </gt-merchant-metadata-form>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->

  </form>

</div>
